# Backend
MONGODB_URI=mongodb+srv://<MONGODB_USER>:<MONGODB_PASSWORD>@cluster0.mongodb.net/aurum?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=5e1fc288c6a09c5729a3089f07058c178bcc729cc7dffda4e9f9e5d885b07e4d

# Frontend local dev only
VITE_API_BASE_URL=http://localhost:4000
